name: Publish Docker image

on:
  push

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install cross-compilation tools
        run: |
          sudo apt-get install -y gcc-arm-linux-gnueabihf

      - name: Install Rust Toolchain (ARMv7)
        run: |
          rustup update --no-self-update stable
          rustup component add --toolchain stable rustfmt rust-src
          rustup default stable
          rustup target add armv7-unknown-linux-gnueabihf

      - name: Build Rust project
        run: |
          cargo build --release --target armv7-unknown-linux-gnueabihf --config target.armv7-unknown-linux-gnueabihf.linker=\"arm-linux-gnueabihf-gcc\"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: 'theorywrong/rctelemetrie:latest'
          labels: ''
          platforms: 'linux/arm64'
