name: Publish Docker image

on:
  push

env:
  DB_URL: ${{ secrets.DB_URL }}
  DB_USERNAME: ${{ secrets.DB_USERNAME }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install cross-compilation tools
        run: |
          sudo apt-get install -y gcc-arm-linux-gnueabihf

      - name: Install Rust Toolchain (ARMv7)
        run: |
          rustup update --no-self-update stable
          rustup component add --toolchain stable rustfmt rust-src
          rustup default stable
          rustup target add armv7-unknown-linux-gnueabihf

      - name: Build Rust project
        run: |
          cargo build --release --target armv7-unknown-linux-gnueabihf --config target.armv7-unknown-linux-gnueabihf.linker=\"arm-linux-gnueabihf-gcc\"

      - name: Release binary
        uses: actions/upload-artifact@v4
        with:
          name: rctelemetrie
          path: target/armv7-unknown-linux-gnueabihf/release/rctelemetrie
